:root {
    --kidbook-color: #6AC9C8;
    --kidbook-color-50: #6ac9c785;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--kidbook-color-50);
}

body::before {
    content: "By 5 books get 1 free";
    text-align: center;
    background-color: black;
    color: white;
    display: block;
    width: 100vw;
    padding: 8px 0px;
    animation: message 9s linear infinite;
}

@keyframes message {
    0% {
        content: "By 5 books get 1 free"
    }

    50% {
        content: "Free shipping on orders $35+"
    }

    100% {
        content: "15% off all books"
    }
}

#helpButton {
    bottom: 40px;
    right: 32px;
    border-radius: 20px;
    border-top-right-radius: 4px !important;
}

#headerMenu .dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    min-width: 250px !important;
}

#bookList {
    height: 100vh;
}

/* New Classes */
.mw-520px {
    max-width: 520px;
    margin: auto;
}

.hover-bg-grey:hover {
    background-color: #F2F2F2;
}

.hover-bg-dark:hover {
    background-color: black;
}

.hover-text-white:hover {
    color: white;
}

.hover-text-blue:hover {
    color: #0773BF;
}

.hover-underline:hover {
    text-decoration: underline;
}

.hover-border-bottom-kidbook:hover {
    border-bottom: 3px solid var(--kidbook-color) !important;
}

.text-color-kidbook {
    color: var(--kidbook-color);
}

.bg-color-kidbook {
    background-color: var(--kidbook-color);
}

.bg-blue {
    background-color: #0773BF;
}

.border-color-kidbook {
    border-bottom-color: var(--kidbook-color) !important;
}

.border-dashed {
    border-style: dashed !important;
}

.translate-left-25 {
    transform: translateX(-25%);
}

.translate-left-85 {
    transform: translateX(-85%);
}

.translate-bottom-10 {
    transform: translateY(10%);
}

.top-10 {
    top: 10%;
}

/* Customized Classes */
.accordion-item {
    border-right: none;
    border-left: none;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: var(--kidbook-color-50);
}

#bookList .accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
}

.accordion-button:focus {
    box-shadow: 0 0 0;
}

.form-floating .form-control {
    padding: 6px 12px;
    height: inherit;
    line-height: inherit;
}

.form-floating .form-control:focus {
    padding: 6px 12px;
    height: inherit;
    line-height: inherit;
    box-shadow: none;
}

.form-floating label {
    top: -10px;
}

.form-floating .form-control:focus+label {
    top: -15px;
    opacity: 1;
}

.form-check-input:checked {
    background-color: var(--kidbook-color);
}

input[type=range]::-webkit-slider-runnable-track {
    background: var(--kidbook-color-50);
}

input[type=range]::-webkit-slider-thumb {
    background: var(--kidbook-color);
}