* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: block;
    padding: 0;
    position: relative;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* PC */
.col {
    width: 25%;
    padding-left: 6px;
    padding-right: 6px;
}

@media only screen and (max-width: 700px) {
    .col {
        width: 50%;
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 500px) {
    .col {
        width: 100%;
        padding-left: 6px;
        padding-right: 6px;
    }
}